
body{
    background: rgb(245, 245, 245);
    margin: 10px;
    padding: 50px;
}
.nav-list li{
    float: right;
    list-style: none;
    margin: 0px 10px;
}
strong {
    background-color:rgb(45, 45, 218);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
}
.h1-top{
    margin: 180px 80px 30px 80px ;
    text-align: center;
}
ul {
    list-style-type: ;
  }
.h1-top p{
    line-height: 20px;
    color: rgb(102, 102, 102);
}
big{
    font-size: 5rem;
    font-weight: bolder;
   margin-left: 70px;
   margin-bottom: 0px;
   padding: 20px 0px 0px 0px;
}
.grid{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.grid1 h4{
    text-align: center;
}
.sub-price p{
    text-align: left;
    margin: -60px 0px 70px 199px;
    padding-bottom: 70px;
}
.grid1 ul{
    margin-bottom: 30px;
    list-style: none;
    margin-top: 20px;
    }
    
    .grid1 span{
    background:  rgb(153, 153, 250);
    padding: 10px 80px;
    margin: 30px 10px;
    width: 700px;
    text-align: center;
    }
hr{
    margin: 60px 40px 10px 40px;
    opacity: 0.50;
}

.grid1{
    background: rgb(66, 66, 226);
    color: white;
    padding: 30px 40px 40px 30px;
    margin: 20px 30px -40px 60px;
    border-radius: 10px;
    height: 400px;
}

.grid2{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 30px 40px 0px 30px;
    margin: 50px 50px 0px 3px;
    height: 400px;
    border-radius: 10px;
}
.grid2 span{
    background:  rgb(56, 56, 56);
    padding: 10px 90px;
    margin: 30px 20px;
    width: 700px;
    text-align: center;
    color: white;
    }
    .grid2 ul{
        margin-bottom: 30px;
        list-style: none;
        margin-top: 20px;
        }

.grid2 h3{
    text-align: center;
    color: rgb(31, 31, 31);
    
}    
.grid2 p{
    text-align: center;
}    
.container{
    padding: 10px 100px 30px 100px;
}
li {
    line-height: 30px;
}
